/* _at the first of the filename indicate that file is a partial file */
.large-hero {
	position: relative;
	border-bottom: 10px solid $mainBlue;

	&__image {
		display: block;
		/* By default, img is treated as inline level element(similiar to a line of text), the browser will leave
		a small space for the 'g' or 'y'
		By saying that the image is block element, it treat image as a div */
	}

	&__text-content {
		position: absolute;
		top: 50%;
		transform: translateY(-50%); /* translateY: position an element vertically relative to itself,e.g: 100% -> down by its own height; */
		left: 0;
		width: 100%;
		text-align: center;
	}

	&__title {
		font-weight: 300;
		color: $mainBlue;
		margin: 0;
		font-size: 2.4rem; /* since the font-size is too big, we choose mobile view as our baseline, according to mobile-first */

		/* Normally we can do like this: @media(min-width: 530px) { // if the screen is bigger than 530 px, then font-size 530px
			font-size: 4.8rem;
		}*/
		@mixin atSmall {
			font-size: 4.8rem;
		}
	}

	&__subtitle {
		font-weight: 300;
		color: $mainBlue;
		font-size: 1.5rem;
		margin: 0;

		@mixin atSmall {
			font-size: 2.9rem;
		}
	}

	&__description {
		color: #fff;
		font-size: 1.1rem;
		font-weight: 100;
		text-shadow: 2px 2px 0 rbga(0, 0, 0, .1);
		max-width: 30rem;
		margin-left: auto;
		margin-right: auto;

		@mixin atSmall{
			font-size: 1.875rem;
		}
	}
}



/* BEM: do not write .large-hero h1; Instead give it a name */