.testimonial {
	background-color: rgba(255,255,255, .8); /* red, green, blue and a for transparency */
	padding: 0 18px 1px 18px;
	margin-bottom: 98px; /*for small screen so that the imagee do not cover the text */

	@mixin atMedium {
		padding: 0 1.8125rem 1px 1.8125rem; /* why 1px for bottom padding? bottom margin of the paragraph create space for us
	However, if the bottom padding is 0, the bottom margin will leak outside the container element and the test will touch
	the bottom line of the container */
		margin-bottom: 0px;
	}

	&__photo {
		border-radius: 80px; /* if this stand alone, we can not see any changes because the image is allowed to pertru
		outside the egdes of the containing div. so we tell this div: overflow:hidden; */
		overflow: hidden;
		/* However, we can not see the div right side because the div take the full width of container
		In other to see the different, we set the div width and height equal the size of the image */
		width: 160px;
		height: 160px;
		margin: 0 auto -80px auto;
		/* pull the image to half of its size but when you use relative, the surrounding does not know the changes
		So the paragraph does not know to move up 80px too
		Therefore, we can give the image negative bottom margin*/
		position: relative;
		top: -80px;
		border: 6px solid rgba(255, 255, 255, .8);
	}

	&__title {
		color: $mainBlue;
		text-align: center;
		font-size: 1.5rem;
		font-weight: 500;
		margin: 0;
	}

	&__subtitle {
		color: $mainOrange;
		text-align: center;
		font-weight: 400;
		font-size: 0.9375rem;
		margin: .25rem 1rem 0;
	}

	&--last {
		margin-bottom: 0;
	}
}