.wrapper {
	overflow: hidden;
	/* padding left and right to make sure that in the mobile view, the line do not touch the edge of the screen */
	padding-left: 18px;
	padding-right: 18px;
	max-width: 1236px; /* since we set box-sizing in global, the real width is 1200- (18+18) so we add 36px more */
	margin-left: auto;
	margin-right: auto;

	&--medium {
		max-width: 976px;
	}
	/* we have a situation where a wrapper inside a wrapper. So we state that any wrapper nested inside a wrapper have no padding */
	.wrapper {
		padding-left: 0;
		padding-right: 0;
	}

	&--no-padding-until-medium {
		padding-left: 0px;
		padding-right: 0px;

		@mixin atMedium {
			padding-left: 18px;
			padding-right: 18px;
		}
	}

	&--no-padding-until-large {
		padding-left: 0px;
		padding-right: 0px;

		@mixin atLarge {
			padding-left: 18px;
			padding-right: 18px;
		}
	}

	&--b-margin {
		margin-bottom: 1rem;

		@mixin atSmall {
			margin-bottom: 3.875rem;
		}
	}
}